In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                 index=list(range(1,6)),
                 columns=list("ABC"))

In [3]:
df

          A         B         C
1  1.091952 -0.063460  0.550629
2  0.481588 -1.832313 -0.069702
3  0.188592 -0.621716 -2.127489
4  0.544413  0.684657  0.256745
5 -0.341643  1.657588  0.196372

In [4]:
df[df.B>0]

          A         B         C
4  0.544413  0.684657  0.256745
5 -0.341643  1.657588  0.196372

In [5]:
df.loc[2:3, "B":"C"]

          B         C
2 -1.832313 -0.069702
3 -0.621716 -2.127489

In [6]:
df.loc[2, "B"]

-1.8323129749340157

In [7]:
df.loc[2, "B"] = 1

In [8]:
df

          A         B         C
1  1.091952 -0.063460  0.550629
2  0.481588  1.000000 -0.069702
3  0.188592 -0.621716 -2.127489
4  0.544413  0.684657  0.256745
5 -0.341643  1.657588  0.196372

In [9]:
df.loc[df.B>0, "C"] = 0

In [10]:
df

          A         B         C
1  1.091952 -0.063460  0.550629
2  0.481588  1.000000  0.000000
3  0.188592 -0.621716 -2.127489
4  0.544413  0.684657  0.000000
5 -0.341643  1.657588  0.000000